<a href="https://colab.research.google.com/github/JuliuszCzupryniak/Distorted-patterns-recognition-in-text/blob/change-after-seminar/Regex_recognition_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import LSTM, Dense

In [ ]:
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [ ]:
# Alphabet:

def get_alphabet(data):
  temp_list=""
  for i in data.text:
    temp_list=temp_list+i
  outputs = list(set(temp_list))
  outputs.sort()
  return outputs

def get_alphabet_lookup(alphabet):
  outputs = []
  temp_list=[]
  outputs.append("")
  x=0;
  temp_list.append(x)
  x=1;
  for i in alphabet:
    outputs.append(i)
    temp_list.append(x)
    x+=1
  outputs.sort()
  outputs = pd.DataFrame({'Output':outputs,'Label':temp_list})
  return outputs

# Standarization:

def standarize_length(data,size):
  for i in data:
    for j in range(size-len(i)):
      i.append("")
  return data

def standarize_vectors(data,lookup):
  for i in range(len(data)):
    for j in range(len(data[i])):
      for k in range(len(outputs)):
        if data[i][j]==lookup.Output[k]:
          data[i][j]=lookup.Label[k]
          break
  return data

# Lists:

def text_to_list(data):
  dataset=[]
  temp_list=[]
  for i in data.text:
    for j in i:
      temp_list.append(j)
    dataset.append(temp_list.copy())
    temp_list.clear()
  return dataset

def regex_to_list(data):
  datatarget=[]
  temp_list=[]
  for i in range(len(data.regex)):
    for j in range(len(data.regex[i])):
      output=""
      if data.regex[i][j]=="[":
        while data.regex[i][j] != "]":
          output=output+data.regex[i][j]
          j+=1
        output=output+"]"
        if data.regex[i][j]=="{":
          while data.regex[i][j] != "}":
            output=output+data.regex[i][j]
            j+=1
        temp_list.append(output)
    datatarget.append(temp_list.copy())
    temp_list.clear()
  return datatarget

# Predictions:

def get_int_predictions(predictions):
  predictions = np.round(predictions)
  predictions = predictions.astype(np.int)
  return predictions

def get_label_predictions(predictions, categories_lookup, predict_data):
  predictions = get_int_predictions(predictions)
  temp_str = ""
  outputs= []
  for i in range(len(predictions)):
    for j in range(len(predictions[i])):
      for k in range(len(categories_lookup)):
        if predictions[i,j]==categories_lookup.Label[k]:
          if categories_lookup.Output[k] != "":
            temp_str = temp_str + categories_lookup.Output[k]
    outputs.append(temp_str)
    temp_str = ""
  predict_data['prediction'] = outputs
  return predict_data

def regex_accuracy(regexs, data):
  import re
  all = len(data.text)
  number_of_regexs = len(regexs)
  regex_column = []
  participation_column = []
  accuracy_column = []
  for i in regexs:
    positives = 0
    pattern=re.compile(i)
    for j in data.text:
      if pattern.match(j):
        positives+=1
    regex_column.append(i)
    participation_column.append((positives/all))
    accuracy_column.append((positives/all)/(1/number_of_regexs))
    output = {'Regex' : regex_column , 'Participation' : participation_column , 'Accuracy' : accuracy_column}
    output_df = pd.DataFrame(output)
    output_df = output_df.sort_values(by=['Accuracy'], ascending = False)
  return output_df

In [ ]:
train_data = pd.read_csv("/content/train_data.csv")
test_data = pd.read_csv("/content/test_data.csv")
predict_data = pd.read_csv("/content/predict_data.csv")
display_side_by_side(train_data[0:10],test_data[:10],predict_data[:10])
print()
print("Maksymalna długość obserwacji w zbiorze treningowym  :  " + str(max(len(x) for x in train_data.text)))
print("Maksymalna długość obserwacji w zbiorze testowym     :  " + str(max(len(x) for x in test_data.text)))
print("Maksymalna długość obserwacji w zbiorze do predykcji :  " + str(max(len(x) for x in predict_data.text)))

Maksymalna długość obserwacji w zbiorze treningowym  :  9
Maksymalna długość obserwacji w zbiorze testowym     :  8
Maksymalna długość obserwacji w zbiorze do predykcji :  12

In [ ]:
alphabet = get_alphabet(train_data)
alphabet_lookup = get_alphabet_lookup(alphabet)

display_side_by_side(alphabet_lookup[0:16],alphabet_lookup[16:32],alphabet_lookup[32:48],alphabet_lookup[48:64],alphabet_lookup[64:80],alphabet_lookup[80:96],alphabet_lookup[96:112],alphabet_lookup[112:])

,Output,Label
0,,0
1,-,1
2,0,2
3,1,3
4,2,4
5,3,5
6,4,6
7,5,7
8,6,8
9,7,9
10,8,10
11,9,11
12,A,12
13,B,13
14,C,14
15,D,15
,Output,Label
16,E,16
17,F,17
18,G,18
19,H,19
20,I,20
21,J,21
22,K,22
23,L,23
24,M,24
25,N,25
26,O,26
27,P,27
28,Q,28
29,R,29
30,S,30
31,T,31
,Output,Label
32,U,32
33,V,33
34,W,34
35,X,35
36,Y,36
37,Z,37
,Output,Label
,Output,Label
,Output,Label
,Output,Label
,Output,Label

In [ ]:
train_set = text_to_list(train_data)
test_set= text_to_list(test_data)
predict_set = text_to_list(predict_data)

In [ ]:
size = 12
train_set = standarize_data_length(train_set,size)
test_set = standarize_data_length(test_set,size)
predict_set = standarize_data_length(predict_set,size)

In [ ]:
train_set = standarize_target_vector(train_set,alphabet_lookup)
test_set = standarize_target_vector(test_set,alphabet_lookup)
predict_set = standarize_target_vector(predict_set,alphabet_lookup)

In [ ]:
train_target = regex_to_list(train_data)
test_target = regex_to_list(test_data)
categories_lookup = category_encoding(train_target)

In [ ]:
categories_lookup

  Output  Label
0             0
1    [-]      1
2  [0-9]      2
3  [A-Z]      3

In [ ]:
train_target = standarize_data_length(train_target,size)
test_target = standarize_data_length(test_target,size)
train_target=standarize_target_vector(train_target,categories_lookup)
test_target=standarize_target_vector(test_target,categories_lookup)

In [ ]:
print("Przykładowy input: ")
print(train_set[0])
print("Przykładowy output: ")
print(train_target[0])
print()
print("Liczba danych testowych inputowych: " + str(len(train_set)))
print("Liczba danych testowych outputowych: " + str(len(train_target)))
print("Liczba wejść sieci neuronowej: "+str(len(train_set[0])))

Przykładowy input:
[6, 9, 1, 3, 11, 11, 0, 0, 0, 0, 0, 0]
Przykładowy output:
[2, 2, 1, 2, 2, 2, 0, 0, 0, 0, 0, 0]

Liczba danych testowych inputowych: 3000
Liczba danych testowych outputowych: 3000
Liczba wejść sieci neuronowej: 12

In [ ]:
train_X = np.array([np.array(xi) for xi in train_set])
train_Y = np.array([np.array(xi) for xi in train_target])

test_X = np.array([np.array(xi) for xi in test_set])
test_Y = np.array([np.array(xi) for xi in test_target])

predict_X = np.array([np.array(xi) for xi in predict_set])

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(units=size, input_shape=(size,1), return_sequences=True))
model.add(Dense(1))
model.compile(loss="mse",optimizer ="adam",metrics=["mse","accuracy"])
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_2 (LSTM)                (None, 12, 12)            672
_________________________________________________________________
dense_2 (Dense)              (None, 12, 1)             13
=================================================================
Total params: 685
Trainable params: 685
Non-trainable params: 0
_________________________________________________________________

In [ ]:
train_X = train_X.reshape(3000,size,1)
train_Y = train_Y.reshape(3000,size,1)

test_X = test_X.reshape(3000,size,1)
test_Y = test_Y.reshape(3000,size,1)

predict_X = predict_X.reshape(17,size,1)

In [224]:
model.fit(test_X,test_Y,epochs=10)

Epoch 1/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0339 - mse: 0.0339 - accuracy: 0.6111
Epoch 2/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0299 - mse: 0.0299 - accuracy: 0.6111
Epoch 3/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0264 - mse: 0.0264 - accuracy: 0.6111
Epoch 4/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0235 - mse: 0.0235 - accuracy: 0.6111
Epoch 5/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0212 - mse: 0.0212 - accuracy: 0.6111
Epoch 6/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0196 - mse: 0.0196 - accuracy: 0.6111
Epoch 7/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0185 - mse: 0.0185 - accuracy: 0.6111
Epoch 8/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0176 - mse: 0.0176 - accuracy: 0.6111
Epoch 9/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0168 - mse: 0.0168 - accuracy: 0.6111
Epoch 10/10
94/94 [==============================] - 0s 5ms/step - loss: 0.0161 - mse: 0.0161 - accuracy: 0.6111

In [223]:
predictions=model.predict(predict_X)

In [225]:
get_label_predictions(predictions,categories_lookup,predict_data)

            text                                         prediction
0         RZP7--                         [A-Z][A-Z][A-Z][0-9][-][-]
1         SSI6--                         [A-Z][A-Z][A-Z][0-9][-][-]
2         G-7-J1                         [A-Z][-][0-9][-][A-Z][0-9]
3         Z-3-N1                         [A-Z][-][0-9][-][A-Z][0-9]
4      K--ZF---4                [A-Z][-][-][A-Z][A-Z][-][-][-][0-9]
5      I--WD---5                [A-Z][-][-][A-Z][A-Z][-][-][-][0-9]
6   C9---FHG1334  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
7   A9---FFG2143  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
8   A8---FFH1214  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
9   C9---GFH2222  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
10  C9---GHF1213  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
11  B9---GHF4344  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
12  Z1---KLM7899  [A-Z][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
13  B9---HFG3214  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
14  C7---FFH4123  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
15  B7---FFF2441  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...
16  A7---FGF1131  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...

In [226]:
distinct_regexs = set(output_list)
regex_accuracy(distinct_regexs,predict_data)

                                               Regex  Participation  Accuracy
2  [A-Z][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...       0.647059  3.235294
0                         [A-Z][-][0-9][-][A-Z][0-9]       0.117647  0.588235
1                         [A-Z][A-Z][A-Z][0-9][-][-]       0.117647  0.588235
3                [A-Z][-][-][A-Z][A-Z][-][-][-][0-9]       0.117647  0.588235
4  [0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0...       0.000000  0.000000