<a href="https://colab.research.google.com/github/JuliuszCzupryniak/Distorted-patterns-recognition-in-text/blob/main/Regex_recognition_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import LSTM, Dense

In [2]:
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [4]:
def get_unique_chars(data):
  temp_list=""
  for i in data.text:
    temp_list=temp_list+i
  chars = list(set(temp_list))
  chars.sort()
  return chars

def category_encoding(datatarget):
  outputs = []
  outputs.append("")
  for i in range(len(datatarget)):
    for j in range(len(datatarget[i])):
      outputs.append(datatarget[i][j])
  outputs=list(set(outputs))
  outputs.sort()
  temp_list=[]
  x=0;
  for i in outputs:
    temp_list.append(x)
    x+=1
  outputs = pd.DataFrame({'Output':outputs,'Label':temp_list})
  return outputs

def standarize_data_length(data,size):
  for i in data:
    for j in range(size-len(i)):
      i.append("")
  return data

def text_to_list(data):
  dataset=[]
  temp_list=[]
  for i in data.text:
    for j in i:
      temp_list.append(j)
    dataset.append(temp_list.copy())
    temp_list.clear()
  return dataset

def regex_to_list(data):
  datatarget=[]
  temp_list=[]
  for i in range(len(data.regex)):
    for j in range(len(data.regex[i])):
      output=""
      if data.regex[i][j]=="[":
        j+=1
        while data.regex[i][j] != "]":
          output=output+data.regex[i][j]
          j+=1
        temp_list.append(output)
    datatarget.append(temp_list.copy())
    temp_list.clear()
  return datatarget

def standarize_target_vector(datatarget,outputs):
  for i in range(len(datatarget)):
    for j in range(len(datatarget[i])):
      for k in range(len(outputs)):
        if datatarget[i][j]==outputs.Output[k]:
          datatarget[i][j]=outputs.Label[k]
          break
  return datatarget

In [5]:
train_data = pd.read_csv("/content/train_data.csv")
test_data = pd.read_csv("/content/test_data.csv")
predict_data = pd.read_csv("/content/predict_data.csv")
display_side_by_side(train_data[0:10],test_data[:10],predict_data[:10])
print()
print("Maksymalna długość obserwacji w zbiorze treningowym  :  " + str(max(len(x) for x in train_data.text)))
print("Maksymalna długość obserwacji w zbiorze testowym     :  " + str(max(len(x) for x in test_data.text)))
print("Maksymalna długość obserwacji w zbiorze do predykcji :  " + str(max(len(x) for x in predict_data.text)))

Maksymalna długość obserwacji w zbiorze treningowym  :  9
Maksymalna długość obserwacji w zbiorze testowym     :  8
Maksymalna długość obserwacji w zbiorze do predykcji :  12

In [6]:
alphabet = get_unique_chars(train_data)
alphabet_lookup = category_encoding(alphabet)

display_side_by_side(alphabet_lookup[0:16],alphabet_lookup[16:32],alphabet_lookup[32:48],alphabet_lookup[48:64],alphabet_lookup[64:80],alphabet_lookup[80:96],alphabet_lookup[96:112],alphabet_lookup[112:])

,Output,Label
0,,0
1,-,1
2,0,2
3,1,3
4,2,4
5,3,5
6,4,6
7,5,7
8,6,8
9,7,9
10,8,10
11,9,11
12,A,12
13,B,13
14,C,14
15,D,15
,Output,Label
16,E,16
17,F,17
18,G,18
19,H,19
20,I,20
21,J,21
22,K,22
23,L,23
24,M,24
25,N,25
26,O,26
27,P,27
28,Q,28
29,R,29
30,S,30
31,T,31
,Output,Label
32,U,32
33,V,33
34,W,34
35,X,35
36,Y,36
37,Z,37
,Output,Label
,Output,Label
,Output,Label
,Output,Label
,Output,Label

In [9]:
train_set = text_to_list(train_data)
test_set= text_to_list(test_data)
predict_set = text_to_list(predict_data)

In [10]:
size = 12
train_set = standarize_data_length(train_set,size)
test_set = standarize_data_length(test_set,size)
predict_set = standarize_data_length(predict_set,size)

In [11]:
train_set = standarize_target_vector(train_set,alphabet_lookup)
test_set = standarize_target_vector(test_set,alphabet_lookup)
predict_set = standarize_target_vector(predict_set,alphabet_lookup)

In [12]:
train_target = regex_to_list(train_data)
test_target = regex_to_list(test_data)
categories_lookup = category_encoding(train_target)

In [13]:
categories_lookup

  Output  Label
0             0
1      -      1
2    0-9      2
3    A-Z      3

In [14]:
train_target = standarize_data_length(train_target,size)
test_target = standarize_data_length(test_target,size)
train_target=standarize_target_vector(train_target,categories_lookup)
test_target=standarize_target_vector(test_target,categories_lookup)

In [15]:
print("Przykładowy input: ")
print(train_set[0])
print("Przykładowy output: ")
print(train_target[0])
print()
print("Liczba danych testowych inputowych: " + str(len(train_set)))
print("Liczba danych testowych outputowych: " + str(len(train_target)))
print("Liczba wejść sieci neuronowej: "+str(len(train_set[0])))

Przykładowy input:
[6, 9, 1, 3, 11, 11, 0, 0, 0, 0, 0, 0]
Przykładowy output:
[2, 2, 1, 2, 2, 2, 0, 0, 0, 0, 0, 0]

Liczba danych testowych inputowych: 3000
Liczba danych testowych outputowych: 3000
Liczba wejść sieci neuronowej: 12

In [16]:
train_X = np.array([np.array(xi) for xi in train_set])
train_Y = np.array([np.array(xi) for xi in train_target])

test_X = np.array([np.array(xi) for xi in test_set])
test_Y = np.array([np.array(xi) for xi in test_target])

predict_X = np.array([np.array(xi) for xi in predict_set])

In [17]:
from keras.models import Sequential
from keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(units=size, input_shape=(size,1), return_sequences=True))
model.add(Dense(1))
model.compile(loss="mse",optimizer ="adam",metrics=["mse","accuracy"])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 12, 12)            672
_________________________________________________________________
dense (Dense)                (None, 12, 1)             13
=================================================================
Total params: 685
Trainable params: 685
Non-trainable params: 0
_________________________________________________________________

In [18]:
train_X = train_X.reshape(3000,size,1)
train_Y = train_Y.reshape(3000,size,1)

test_X = test_X.reshape(3000,size,1)
test_Y = test_Y.reshape(3000,size,1)

predict_X = predict_X.reshape(17,size,1)

In [19]:
model.fit(test_X,test_Y,epochs=10)

Epoch 1/10
94/94 [==============================] - 3s 6ms/step - loss: 1.4932 - mse: 1.4932 - accuracy: 0.4124
Epoch 2/10
94/94 [==============================] - 1s 6ms/step - loss: 0.3273 - mse: 0.3273 - accuracy: 0.4802
Epoch 3/10
94/94 [==============================] - 1s 6ms/step - loss: 0.1047 - mse: 0.1047 - accuracy: 0.5839
Epoch 4/10
94/94 [==============================] - 1s 6ms/step - loss: 0.0588 - mse: 0.0588 - accuracy: 0.6106
Epoch 5/10
94/94 [==============================] - 1s 6ms/step - loss: 0.0435 - mse: 0.0435 - accuracy: 0.6109
Epoch 6/10
94/94 [==============================] - 1s 6ms/step - loss: 0.0342 - mse: 0.0342 - accuracy: 0.6105
Epoch 7/10
94/94 [==============================] - 1s 6ms/step - loss: 0.0290 - mse: 0.0290 - accuracy: 0.6100
Epoch 8/10
94/94 [==============================] - 1s 6ms/step - loss: 0.0256 - mse: 0.0256 - accuracy: 0.6103
Epoch 9/10
94/94 [==============================] - 1s 6ms/step - loss: 0.0234 - mse: 0.0234 - accuracy: 0.6114
Epoch 10/10
94/94 [==============================] - 1s 6ms/step - loss: 0.0213 - mse: 0.0213 - accuracy: 0.6110

In [20]:
predictions=model.predict(predict_X)

In [21]:
rounded_predictions = np.round(predictions)
rounded_predictions = rounded_predictions.astype(np.int)
temp_str = ""
output_list = []
for i in range(len(rounded_predictions)):
  for j in range(len(rounded_predictions[i])):
    for k in range(len(categories_lookup)):
      if rounded_predictions[i,j]==categories_lookup.Label[k]:
        if categories_lookup.Output[k] != "":
          temp_str = temp_str + "[" + categories_lookup.Output[k] + "]"
  output_list.append(temp_str)
  temp_str = ""

In [22]:
distinct_regexs = set(output_list)
predict_data['prediction'] = output_list
unique_regexs_frequency = predict_data.prediction.value_counts()
unique_regexs_frequency.sort_values(ascending=False)

[0-9][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9]    6
[A-Z][0-9][-][-][-][A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9]    5
[A-Z][A-Z][A-Z][0-9][-][-]                                2
[A-Z][-][0-9][-][A-Z][0-9]                                2
[A-Z][-][-][A-Z][A-Z][-][-][-][0-9]                       2
Name: prediction, dtype: int64

In [23]:
def regex_accuracy(regexs, data):
  import re
  number_of_regexs = len(regexs)
  all = len(data.text)
  accuracy_table = []
  for i in regexs:
    positives = 0
    pattern=re.compile(i)
    for j in data.text:
      if pattern.match(j):
        positives+=1
    accuracy_table.append((positives/all)/(1/number_of_regexs))
  return accuracy_table

In [24]:
a = regex_accuracy(distinct_regexs,predict_data)

In [26]:
a

[0.588235294117647,
 3.235294117647059,
 0.588235294117647,
 0.588235294117647,
 0.0]

In [27]:
predictions

array([[[ 2.942255  ],
        [ 3.2148848 ],
        [ 3.0978794 ],
        [ 2.2245812 ],
        [ 1.0414358 ],
        [ 1.1267122 ],
        [ 0.17766187],
        [ 0.07028233],
        [ 0.04557893],
        [ 0.0391664 ],
        [ 0.04590003],
        [ 0.0629527 ]],

       [[ 2.9527953 ],
        [ 3.127921  ],
        [ 2.862325  ],
        [ 2.1675193 ],
        [ 1.035597  ],
        [ 1.1271197 ],
        [ 0.17931992],
        [ 0.06975135],
        [ 0.04544835],
        [ 0.03967068],
        [ 0.04685148],
        [ 0.06414702]],

       [[ 2.7082028 ],
        [ 1.071426  ],
        [ 2.2427275 ],
        [ 0.9907452 ],
        [ 2.907173  ],
        [ 1.8585582 ],
        [ 0.03601023],
        [ 0.02542119],
        [ 0.02100687],
        [ 0.01692924],
        [ 0.02216657],
        [ 0.03799911]],

       [[ 3.0014439 ],
        [ 0.9773389 ],
        [ 1.9628164 ],
        [ 0.98322964],
        [ 3.0028875 ],
        [ 1.8488632 ],
        [ 0.02461606],
        [ 0.01599237],
        [ 0.01451468],
        [ 0.01226351],
        [ 0.01861304],
        [ 0.03518755]],

       [[ 2.8257093 ],
        [ 1.0400417 ],
        [ 1.0396241 ],
        [ 3.1234167 ],
        [ 2.649454  ],
        [ 0.9931292 ],
        [ 1.02281   ],
        [ 1.0411136 ],
        [ 2.0863945 ],
        [-0.09454124],
        [-0.05828097],
        [-0.03676355]],

       [[ 2.7730474 ],
        [ 1.054606  ],
        [ 1.0488136 ],
        [ 3.1044142 ],
        [ 2.5384362 ],
        [ 0.9846602 ],
        [ 1.028687  ],
        [ 1.0437547 ],
        [ 2.143149  ],
        [-0.1146981 ],
        [-0.06447838],
        [-0.04104179]],

       [[ 2.531403  ],
        [ 2.3572674 ],
        [ 1.0365634 ],
        [ 1.0756228 ],
        [ 1.0758084 ],
        [ 2.7367556 ],
        [ 2.7394829 ],
        [ 2.696317  ],
        [ 1.8652486 ],
        [ 1.9868935 ],
        [ 1.9780867 ],
        [ 2.007234  ]],

       [[ 2.4131052 ],
        [ 2.364439  ],
        [ 1.0415487 ],
        [ 1.0763065 ],
        [ 1.076024  ],
        [ 2.7357137 ],
        [ 2.6402063 ],
        [ 2.6965616 ],
        [ 1.9452382 ],
        [ 1.8698878 ],
        [ 2.0178385 ],
        [ 1.9699161 ]],

       [[ 2.4131052 ],
        [ 2.2992518 ],
        [ 1.0436977 ],
        [ 1.08119   ],
        [ 1.0781965 ],
        [ 2.735974  ],
        [ 2.6399593 ],
        [ 2.7443485 ],
        [ 1.8658947 ],
        [ 1.9468223 ],
        [ 1.8627162 ],
        [ 2.009622  ]],

       [[ 2.531403  ],
        [ 2.3572674 ],
        [ 1.0365634 ],
        [ 1.0756228 ],
        [ 1.0758084 ],
        [ 2.7789803 ],
        [ 2.6400762 ],
        [ 2.7452157 ],
        [ 1.9466913 ],
        [ 1.9475739 ],
        [ 1.943669  ],
        [ 1.9379678 ]],

       [[ 2.531403  ],
        [ 2.3572674 ],
        [ 1.0365634 ],
        [ 1.0756228 ],
        [ 1.0758084 ],
        [ 2.7789803 ],
        [ 2.738708  ],
        [ 2.6450307 ],
        [ 1.8637053 ],
        [ 1.9474794 ],
        [ 1.8632689 ],
        [ 1.9801384 ]],

       [[ 2.475114  ],
        [ 2.3607423 ],
        [ 1.0389888 ],
        [ 1.0760427 ],
        [ 1.0759771 ],
        [ 2.778535  ],
        [ 2.738412  ],
        [ 2.644754  ],
        [ 2.0267384 ],
        [ 1.984931  ],
        [ 2.0177033 ],
        [ 2.0135    ]],

       [[ 3.0014439 ],
        [ 1.8460906 ],
        [ 0.982589  ],
        [ 1.0788432 ],
        [ 1.0769181 ],
        [ 2.9054556 ],
        [ 2.886369  ],
        [ 2.9271722 ],
        [ 2.1613884 ],
        [ 2.2225857 ],
        [ 2.287361  ],
        [ 2.2885072 ]],

       [[ 2.475114  ],
        [ 2.3607423 ],
        [ 1.0389888 ],
        [ 1.0760427 ],
        [ 1.0759771 ],
        [ 2.8172317 ],
        [ 2.6389985 ],
        [ 2.6968083 ],
        [ 1.9906123 ],
        [ 1.9452358 ],
        [ 1.8667761 ],
        [ 2.0142324 ]],

       [[ 2.531403  ],
        [ 2.2288964 ],
        [ 1.0408947 ],
        [ 1.0854158 ],
        [ 1.0802151 ],
        [ 2.7371888 ],
        [ 2.6402838 ],
        [ 2.7446878 ],
        [ 2.0284634 ],
        [ 1.8643079 ],
        [ 1.9494603 ],
        [ 1.9786136 ]],

       [[ 2.475114  ],
        [ 2.2320437 ],
        [ 1.0436914 ],
        [ 1.0859724 ],
        [ 1.0804404 ],
        [ 2.7367427 ],
        [ 2.6400046 ],
        [ 2.645186  ],
        [ 1.9438541 ],
        [ 2.0193474 ],
        [ 2.013399  ],
        [ 1.8534042 ]],

       [[ 2.4131052 ],
        [ 2.2354028 ],
        [ 1.0466725 ],
        [ 1.0863765 ],
        [ 1.0805469 ],
        [ 2.7361357 ],
        [ 2.6904342 ],
        [ 2.644269  ],
        [ 1.8629473 ],
        [ 1.8689694 ],
        [ 1.9854285 ],
        [ 1.8500304 ]]], dtype=float32)